name: Perform TruffleHog scans
on:
  workflow_call:
jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@5
      with:
        fetch-depth: 0
    - name: TruffleHog scan full repository
      uses: trufflesecurity/trufflehog@main
      if: ${{ always() }}
      with:
        extra_args: --results=verified,unknown
      continue-on-error: true
    - name: TruffleHog scan PR only
      uses: trufflesecurity/trufflehog@main
      if: ${{ always() }}
      with:
        base: ""
        head: ${{ github.ref_name }}
        extra_args: --results=verified,unknown
      continue-on-error: true
