name: Perform secret scans
on:
  workflow_call:
    inputs:
      base:
        required: false
        type: string
        default: ""
        description: An optional branch to base the scan on.
      enable_trufflehog_action:
        required: false
        type: boolean
        default: false
        description: An option to enable the TruffleHog secret scan action.
      env_vars:
        required: false
        type: string
        default: "{}"
        description: Extra variables to be passed to the environment.
      extra_args:
        required: true
        type: string
        default: "--results=verified,unknown"
        description: Extra arguments to be passed to the TruffleHog CLI.
jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set environment variables from JSON
      env:
        ENV_VARS_JSON: "${{ inputs.env_vars }}"
      run: |
        echo "Parsing JSON environment variables..."
        echo "$ENV_VARS_JSON" | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' >> $GITHUB_ENV
    - name: TruffleHog PR scan
      uses: trufflesecurity/trufflehog@v3.90.12
      if: ${{ inputs.enable_trufflehog_action == true }}
      with:
        base: ${{ inputs.base }}
        head: ${{ github.ref_name }}
        extra_args: ${{ inputs.extra_args }}
