name: Perform secret scans
on:
  repository_dispatch:
    types: [secrets]
jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@5
      with:
        fetch-depth: 0
    - name: TruffleHog scan PR only
      uses: trufflesecurity/trufflehog@v3.90.12
      if: ${{ always() }}
      with:
        base: ""
        head: ${{ github.ref_name }}
        extra_args: --results=verified,unknown
      continue-on-error: true
