name: NPM Static checks
on:
  workflow_call:
    inputs:
      enable_semgrep_action:
        required: false
        type: boolean
        default: true
      enable_trufflehog_action:
        required: false
        type: boolean
        default: false
      env_vars:
        required: false
        type: string
        default: "{}"
      node_version:
        required: false
        type: string
        default: 24.x
      matrix_commands:
        required: false
        type: string
        default: '["lint", "depcheck", "check"]'
      semgrep_extra_args:
        required: false
        type: string
        default: '--config="p/default"'
      semgrep_sarif_path:
        required: false
        type: string
        default: "semgrep.sarif"
      semgrep_upload_type:
        required: false
        type: string
        default: "sarif"
      trufflehog_extra_args:
        required: false
        type: string
        default: "--results=verified,unknown"
jobs:
  static-checks:
    name: Static Analysis Checks - ${{ matrix.command }}
    strategy:
      fail-fast: false
      matrix:
        command: ${{ fromJson(inputs.matrix_commands) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set environment variables from JSON
        env:
          ENV_VARS_JSON: "${{ inputs.env_vars }}"
        run: |
          echo "Parsing JSON environment variables..."
          echo "$ENV_VARS_JSON" | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' >> $GITHUB_ENV
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
      - name: Cache Node.js modules
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install Packages
        run: npm ci
      - name: ${{ matrix.command }}
        run: npm run ${{ matrix.command }}
  scan-secrets:
    if: ${{ inputs.enable_trufflehog_action == true }}
    name: Secrets scanning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: TruffleHog PR scan
        uses: trufflesecurity/trufflehog@v3.92.4
        with:
          base: ""
          head: ${{ github.ref_name }}
          extra_args: ${{ inputs.trufflehog_extra_args }}
  scan-vulns:
    if: |
      (inputs.enable_semgrep_action == true) &&
      (github.actor != 'dependabot[bot]')
    name: Vulnerability scanning
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Semgrep
        run: pip install semgrep
      - name: Semgrep CE scan
        run: |
          semgrep ${{ inputs.semgrep_extra_args }} --sarif --sarif-output=${{ inputs.semgrep_sarif_path }}
      - name: Upload Semgrep CE's SARIF results directly to GHAS
        uses: github/codeql-action/upload-sarif@v4
        if: always() && (inputs.semgrep_upload_type == 'sarif')
        with:
          sarif_file: ${{ inputs.semgrep_sarif_path }}
          category: semgrep
      - name: Upload Semgrep CE's SARIF results as an artifact
        uses: actions/upload-artifact@v5
        if: always() && (inputs.semgrep_upload_type == 'artefact')
        with:
          name: semgrep
          path: ${{ inputs.semgrep_sarif_path }}
          retention-days: 30
