name: NPM Tests
on:
  workflow_call:
    inputs:
      env_vars:
        required: false
        type: string
        default: "{}"
      npm_build_command:
        required: false
        type: string
        default: ""
      pre_test_command:
        required: false
        type: string
        default: ""
      docker_compose_file:
        required: false
        type: string
        default: docker-compose.yml
      node_version:
        required: false
        type: string
        default: 22.x
      tests:
        required: false
        type: string
        default: '["test:unit", "test:integration"]'
      coverage:
        required: false
        type: boolean
        default: false
      coverage_path:
        required: false
        type: string
        default: coverage/tmp
jobs:
  tests:
    name: Run tests - ${{ matrix.command }}
    strategy:
      fail-fast: false
      matrix:
        command: ${{ fromJson(inputs.tests) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set environment variables from JSON
        env:
          ENV_VARS_JSON: "${{ inputs.env_vars }}"
        run: |
          echo "Parsing JSON environment variables..."
          echo "$ENV_VARS_JSON" | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' >> $GITHUB_ENV
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install Packages
        run: npm ci
      - name: Build
        run: ${{ inputs.npm_build_command }}
        if: inputs.npm_build_command != ''
      - name: Create environment file
        run: touch .env
      - name: Setup dependencies
        run: docker compose -f ${{ inputs.docker_compose_file }} up -d --quiet-pull
        if: inputs.docker_compose_file != ''
      - name: Sleep
        uses: kibertoad/wait-action@1.0.1
        with:
          time: "30s"
        if: inputs.docker_compose_file != ''
      - name: Run pre-test command
        run: ${{ inputs.pre_test_command }}
        if: inputs.pre_test_command != ''
      - name: Run tests
        run: npm run ${{ matrix.command }}
      - name: Set artifact name
        id: artifact-name
        run: echo "name=coverage-$(echo "${{ matrix.command }}" | sed 's/[:\";<>|*?\/\\ \r\n]/-/g')" >> $GITHUB_OUTPUT
        if: inputs.coverage
      - name: Upload coverage JSON summary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-name.outputs.name }}
          path: ${{ inputs.coverage_path }}
        if: inputs.coverage

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: tests
    if: inputs.coverage
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}

      - name: Download all coverage summaries
        uses: actions/download-artifact@v4
        with:
          path: coverage/tmp
          merge-multiple: true

      - name: Generate text report
        run: npx c8 report --reporter=text >> $GITHUB_STEP_SUMMARY

      - name: Generate html report
        run: npx c8 report --reporter=html

      - name: Upload html report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            coverage/**
            !coverage/tmp/**

      - name: Fail if under thresholds
        run: npx c8 check-coverage
