name: NPM E2E tests
on:
  workflow_call:
    inputs:
      env_vars:
        required: false
        type: string
        default: "{}"
      npm_build_command:
        required: false
        type: string
        default: ""
      pre_test_command:
        required: false
        type: string
        default: ""
      docker_compose_file:
        required: false
        type: string
        default: docker-compose.yml
      node_version:
        required: false
        type: string
        default: 24.x
      test_command:
        required: false
        type: string
        default: "npm run test:e2e"
# permissions:
#   contents: write
permissions: {}
jobs:
  e2e-tests:
    name: Run e2e tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set environment variables from JSON
        env:
          ENV_VARS_JSON: "${{ inputs.env_vars }}"
        run: |
          echo "Parsing JSON environment variables..."
          echo "$ENV_VARS_JSON" | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' >> $GITHUB_ENV
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: "--debug"
        if: inputs.docker_compose_file != ''
      - name: Build e2e containers
        uses: docker/bake-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          files: ${{ inputs.docker_compose_file }}
        if: inputs.docker_compose_file != ''
      - name: Build
        run: ${{ inputs.npm_build_command }}
        if: inputs.npm_build_command != ''
      - name: Run pre-test command
        run: ${{ inputs.pre_test_command }}
        if: inputs.pre_test_command != ''
      - name: Run e2e tests
        run: ${{ inputs.test_command }}
        if: ${{ !(github.event.repository.name == 'veritable-ui' || github.event.repository.name == 'dtdl-visualisation-tool') }}
      - name: Run e2e tests - veritable UI
        run: ${{ inputs.test_command }}
        if: ${{ github.event.repository.name == 'veritable-ui' }}
      - name: Run e2e tests - dtdl-visualisation-tool
        run: ${{ inputs.test_command }}
        env:
          GH_APP_NAME: ${{ secrets.GH_APP_NAME }}
          GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
          GH_CLIENT_ID: ${{ secrets.GH_CLIENT_ID }}
          GH_CLIENT_SECRET: ${{ secrets.GH_CLIENT_SECRET }}
          GH_TEST_USER: ${{ secrets.GH_TEST_USER }}
          GH_TEST_PASSWORD: ${{ secrets.GH_TEST_PASSWORD }}
          GH_TEST_2FA_SECRET: ${{ secrets.GH_TEST_2FA_SECRET }}
          GH_TEST_USER_2: ${{ secrets.GH_TEST_USER_2 }}
          GH_TEST_PASSWORD_2: ${{ secrets.GH_TEST_PASSWORD_2 }}
          GH_TEST_2FA_SECRET_2: ${{ secrets.GH_TEST_2FA_SECRET_2 }}
        if: ${{ github.event.repository.name == 'dtdl-visualisation-tool' }}
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: ./playwright-report/
          retention-days: 90
          if-no-files-found: error
      - name: Publish CTRF Test Summary Results
        run: '[ -f ./playwright-report/ctrf-report.json ] && npx github-actions-ctrf ./playwright-report/ctrf-report.json || (echo "CTRF report not found! Exiting with error." && exit 1)'
        if: always()
